.image-card{
    height: 198px;
    width: 310px
}
.card-padding{

    border:1px dotted wheat
}
.detailCard{
    border: 1px dotted #252423;
    padding: 12px
}
.color{
    color: #ffffff;
}
.detailviewimage{
    height: 320px;
    width: 367px;
    border: 5px solid #8da08d;
}